site_name: PyRIID
theme:
  name: readthedocs
  highlightjs: true
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
plugins:
  - search
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      custom_templates: templates
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            show_source: true
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
nav:
    - Home: 'index.md'
    - API Reference: 'api.md'
    - Developer: 'howto.md'